*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #2c82d1;
}

.nav-bar{
    display: grid;
    width: 100vw;
    height: 10vh;
    justify-content: center;
    grid-template-columns: 20vh 20vh 20vh 20vh;
    background-color: #f4f27f;
    border-bottom: solid #2c82d1 3px;
}
.button{
    justify-content: center;
    align-items: center;
    margin: 20%;
}
.link{
    color: #2c82d1;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.body{
    display: grid;
    height: auto;
    width: 100vw;
}
.main{
    display: grid;
    height: 90vh;
    background-color: #fff5c2;
    margin-bottom: 9vh;
    justify-content: center;
    align-items: center;
    grid-template-columns: 30vw 30vw;
    grid-column-gap: 10vw;
}
.selfie{
    width: auto;
    height: 60vh;
}
.overmij{
    display: grid;
    height: 80vh;
    grid-template-columns: 25vw 25vw;
    background-color: #6dbaef;
    margin-bottom: 9vh;
    justify-content: center;
    align-items: center;
}
#posing{
    height: auto;
    width: 15vw;
    margin-left: 30vw;
    opacity: 0.7;
}

.skills{
    height: 60vh;
    background-color: #fff5c2;
    margin-bottom: 9vh;
}
.projecten{
    height: 80vh;
    background-color: #fff5c2;
    margin-bottom: 9vh;
}
.footer{
    height: 30vh;
    background-color: #2c82d1;
}
